{{template "email" .}}
{{define "content"}}
<p>
  You have requested to have your password reset for your account at <a class="link" href="{{ .SiteURL }}">Gisquick</a>.
  To set a new password, please click on the following button
  <a
    class="md-button raised primary"
    href="{{ .SetPasswordLink }}"
  >
    New password
  </a>
</p>
<br />
<p>If you received this email in error, you can safely ignore this email.</p>

<p>
  <small>
    If you can't get the button to work, paste this link into your browser:
    {{ .SetPasswordLink }}
  </small>
</p>
{{end}}